[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
# MimeType=text/html;x-maemo-urischeme/http;x-maemo-urischeme/https;
Icon=harbour-webpirate
Exec=harbour-webpirate %U
Name=Web Pirate
