[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-webpirate
Exec=harbour-webpirate
Name=Web Pirate

# translation example:
# your app name in German locale (de)
# Name[de]=Web Pirate

